In [2]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [6]:
i=0
while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [9]:
i=10
for i in range(i,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [13]:
i=10
while 0<=i<=10:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1
0

In [21]:
n=int(input())
for i in range(n+1):
    print("#"*i)
print()

#
##
###
####

In [22]:
n=int(input())
i=0
while i<=n:
    print("#"*i)
    i=i+1

#
##
###
####

In [39]:
n=int(input())
for i in range(n):
    for j in range(i*2):
        print("#\t"*n,end="\n")
print()

#	#	#	#
#	#	#	#
#	#	#	#
#	#	#	#
#	#	#	#
#	#	#	#
#	#	#	#
#	#	#	#
#	#	#	#
#	#	#	#
#	#	#	#
#	#	#	#

In [45]:
n=int(input())
for i in range(n+1):
    print(f"{i}x{i}={i*i}")

0x0=0
1x1=1
2x2=4
3x3=9
4x4=16
5x5=25
6x6=36

 Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [1]:
list=['Python', 'Numpy','Pandas','Django', 'Flask']
for i in list:
    print(i)

Python
Numpy
Pandas
Django
Flask

Use for loop to iterate from 0 to 100 and print only even numbers

In [3]:
n=100
for i in range(n+1):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Use for loop to iterate from 0 to 100 and print only odd numbers

In [5]:
n=100
for i in range(n+1):
    if i%2==1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

Use for loop to iterate from 0 to 100 and print the sum of all numbers.
                output: The sum of all numbers is 5050.

In [10]:
total=0
for i in range(101):
    total=total+i
print(f"the  sum of all numbers is {total}")

the  sum of all numbers is 5050

Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

In [19]:
total_even=0
total_odd=0
for i in range(101):
    if i%2==0:
        total_even=total_even+i
             
    else:
        i%2==1
        total_odd=total_odd+i
print(f"the sum of all even numbers is {total_even}")     
print(f"the sum of all odd numbers is {total_odd}")

the sum of all even numbers is 2550
the sum of all odd numbers is 2500